*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
html, body{
    width: 100%;
    height: 100%;

}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
}
button{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 4rem;
    transition: .3s;
    transform: scale(1);
}

button:nth-child(2){
    background-color: white;
}

button:nth-child(3){
    background-color: black;
    color: white;

}
h2:nth-child(1){
    font-size: 6rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    position: absolute;
    top: 4rem;
    margin: 2rem;
}

button:nth-child(2):hover{
    box-shadow: 2px 3px 80px blue; 
    transform: scale(1.1);
    text-shadow: 3px 3px 8px aqua;
}

button:nth-child(3):hover{
    box-shadow: 2px 3px 80px rgb(255, 0, 0); 
    transform: scale(1.1);
    text-shadow: 3px 3px 10px red;
}



.day-time{
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

.night-time{
    width: 100vw;
    height: 100vh;
    background-color: red;
}

footer{
position: absolute;
color: white;
top: 35rem;
font-size: 1.5rem;
font-family: 'Courier New', Courier, monospace;
font-weight: 600;
}


#home{
    background-color: white;
    position: absolute;
    color: black;
    top: 2rem;
    left: 2rem;
    display: none;
    border-radius: 2rem;
    padding: .5rem 1.5rem;
    }

    #home:hover{
        box-shadow: 2px 6px 5px black; 
        transform: scale(1.1);
    }


/* Responsive */


@media screen and (max-width: 1045px) {
    h2:nth-child(1){
        /* top: 2rem; */
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 768px) {
    h2:nth-child(1){
        /* top: 2rem; */
        font-size: 4rem;
    }
    button{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 540px) {
    h2:nth-child(1){
        top: 1.5rem;
        font-size: 4rem;
    }
    button{
        font-size: 1.2rem;
    }
    #home{
        padding: .2rem 1rem;
        top: .5rem;
        left: 1rem;
        }
}

@media screen and (max-width: 440px) {

     h2:nth-child(1){
        font-size: 3.5rem;
        top: 3rem;
    }

    button{
        font-size: 1rem;
        padding: 1rem 2rem;
    }
    
    footer{
        top: 30rem;
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 340px) {

    h2:nth-child(1){
       font-size: 3rem;
       top: 1rem;
   }

   button{
       font-size: .8rem;
       padding: .8rem 1.5rem;
   }

}